.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  padding-left: 20px;
}

.App-intro {
  font-size: large;
}

.pieChart {
  height: 500px;
  width: 500px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
